@charset "UTF-8";
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header { 
    height: 63px; 
    width: 100vw; 
    padding: 0 30px; 
    background-color: rgb(255, 255, 255); 
    position: fixed; 
    z-index: 100; 
    box-shadow: 1px 1px 15px #4240cf; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  header {
    background-color: #f1f1f1;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}
  .header-logo {
    position: absolute;
    top: 50%;
    padding-left: 20px;
    transform: translateY(-45%); 
    opacity: 0.8;
    height: 100px;
}
.header-background {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 50%;
}
  .main-container { 
    display: flex; 
    width: 100vw; 
    position: relative; 
    top: 70px; 
    z-index: 1; 
  } 
 
  .nav { 
    min-height: 91vh; 
    width: 250px; 
    background-color: black; 
    color: white;
    position: absolute; 
    top: 0px; 
    left: 00; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    overflow: hidden; 
    padding: 30px 0 20px 10px; 
  } 
  .navcontainer { 
    height: calc(100vh - 70px); 
    width: 200px; 
    position: relative; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    transition: all 0.5s ease-in-out; 
  } 
  .navcontainer::-webkit-scrollbar { 
    display: none; 
  } 

  .nav-option { 
    width: 250px; 
    height: 60px; 
    display: flex; 
    align-items: center; 
    padding: 0 30px 0 20px; 
    gap: 20px; 
    transition: all 0.1s ease-in-out; 
  } 
  .nav-option:hover { 
   
    background-color: #4240cf; 
    cursor: pointer; 
  } 
  
  .nav-up { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 30px; 
    margin-left: 37px;
  } 

  .active { 
 
    background-color: #4240cf; 
    color: white; 
    cursor: pointer; 
  } 
  
  .active:hover { 
    background-color: #4240cf;
  } 
 .inactive{
  text-decoration: none;
  color: #f1f1f1;
 }
main {
    padding: 40px;
    margin-left: 20px; /* Adjust the margin-left for table positioning */
}

table {
    border-collapse: collapse;
    width: 100%; /* Set table width to 100% of its container */
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f1f1f1;
}

